{% extends "network/layout.html" %}
{% load static %}
{% block script %}
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}
{% block body %}
    <div style="background: white">
    <hr>
    <div class="m-3 d-flex justify-content-around">
        <h1><strong id="username">{{ profileUsername }}'s</strong> Page</h1>
        {% if user.is_authenticated and not isUsersPofile %}
            {% if isFollowing %}
                <button class="btn btn-danger" id="unfollow-button">Unfollow</button>
            {% else %}
                <button class="btn btn-primary" id="follow-button">Follow</button>
            {% endif %} 
        {% endif %}
    </div>
    <hr>
    <div id="profileStats card" class="d-flex justify-content-around">
        <div class="text-center noFormatButton" id="user-post-count" type="button">
            <span class="h1">{{ postCount }}</span>
            <br>
            <span class="h4">Posts</span>
        </div>
        <button class="text-center noFormatButton" id="user-follower-count" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom">
            <span class="h1">{{ followerCount }}</span>
            <br>
            <span class="h4">Followers</span>
        </button>
        <button class="text-center noFormatButton" id="user-following-count" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom">
            <span class="h1">{{ followingCount }}</span>
            <br>
            <span class="h4">Following</span>
        </button>
    </div>
    <hr>
    </div>

    {% for post in posts %}
        <div class="m-4 card">
            <div class="card-header">{{ post.creator }}</div>
            <div class="card-body">{{ post.content }}</div>
            <div class="card-footer d-flex">
                <small class="text-body-secondary">{{ post.timestamp }}</small>
            </div>
        </div>
    {% endfor %}

    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" id="offcanvasBody"></div>
    </div>

{% endblock %}